@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the example BookApp</h2>
<p>
    This ASP.NET Core web site uses Entity Framework Core (Ef Core) to display books for sale. 
    It has three main purposes:
    <ul>
        <li>To show you how to use EF Core to access a database.</li>
        <li>To allow you to compare different approaches to when performance matters.</li>
        <li>
            To be an example of a <a href="http://www.kamilgrzybek.com/design/modular-monolith-primer/">Modular monolith</a>
            using a <a href="https://www.infoq.com/articles/ddd-in-practice/">Domain-Driven Design</a> approach 
            in a <a href="https://pusher.com/tutorials/clean-architecture-introduction">clean code architecture</a>
        </li>
    </ul>
</p>
