@model BookApp.UI.Controllers.AdminController.BookUpdatedDto

<h2>@Model.Message</h2>

<p>Click the Logs menu item to see the SQL that EF Core created to update the book.</p>

@Html.ActionLink("Back to book display", "Index", @Model.ControllerName)

