@model BookApp.Infrastructure.Books.CachedValues.CheckFixCode.CheckFixInputDto

@{
    ViewData["Title"] = "CacheCheckFix";
}

<h1>Check/Fix cache values service</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CacheCheckFix">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LookingBack" class="control-label">This sets how far back from now to look for changes (HH:MM:SS)</label>
                <input asp-for="LookingBack" class="form-control" />
                <span asp-validation-for="LookingBack" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="FixBadCacheValues" class="control-label">If true it will fix any problem it finds</label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FixBadCacheValues" /> @Html.DisplayNameFor(model => model.FixBadCacheValues)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Run" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

