@model List<ServiceLayer.OrderServices.OrderListDto>
@{
    ViewData["Title"] = "Orders";
}

@if (!Model.Any())
{
    <h4>You haven't bought any books yet.</h4>
}

<div class="container">

    @foreach (var order in Model)
    {
        <partial name="OneOrderPartial" for="@order" />
        <hr/>
    }

</div>
