@model List<ServiceLayer.OrderServices.OrderListDto>
@{
    ViewData["Title"] = "Orders";
}

<div class="container">

        @foreach (var order in Model)
        {
            @Html.Partial("OneOrderPartial", order)
            <hr/>
        }

</div>
