@{
    ViewData["Title"] = "View";
}

<h4>About - Part1</h4>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                <a href="https://www.manning.com/books/entity-framework-core-in-action-second-edition?a_aid=su4utaraxuTre8tuthup">Entity Framework Core in Action, <small>second edition</small></a>
            </h2>
            <p>
                Welcome to the example book selling site known as the <strong>Book App</strong> which is used to show some of the code from the book
                <a href="https://www.manning.com/books/entity-framework-core-in-action?a_aid=su4utaraxuTre8tuthup&a_bid=4cef27ce">Entity Framework Core in Action</a>.
            </p>
            <h3>What am I seeing?</h3>
            <p>
                This application uses the information found in the chapters two to five of the book to create the Book App. That is:
                <ul>
                    <li>Chapter 2: How to use <i>Query Objects</i> to read the database - see book display with its sorting, filtering, and paging.</li>
                    <li>Chapter 3: How to update the database - see the Admin dropdowns on each book.</li>
                    <li>Chapter 4: How to write business logic - try buying a book.</li>
                    <li>Chapter 5: How to setup the database and call services.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-auto">
            <div class="image-drop-shadow">
                <a href="https://www.manning.com/books/entity-framework-core-in-action-second-edition?a_aid=su4utaraxuTre8tuthup">
                    <img src="https://images.manning.com/360/480/resize/book/9/65d0104-20ee-4f73-8f7a-57a5cfd2d784/Smith-EFC-2ed-MEAP-HI.png"
                         alt="Entity Framework Core in Action"/>
                </a>
            </div>
        </div>
    </div>
</div>