@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The <strong>Book App</strong> uses a cookie to hold your basket of books you want to buy. 
    <br />
    This cookie also creates a random GUID which becomes your pseudo-UserId.
</p>
